<div class="container" style="max-width: 949px;">
    <div class="row justify-content-center align-items-center text-center">
    
     
      <div class="col-12 col-md-3 text-md-start mb-3 mb-md-0">
        <p><strong>Turma:</strong> ADS301M</p>
        <p><strong>Turno:</strong> MANHÃ</p>
        <p><strong>Unidade:</strong> BONSUCESSO</p>
      </div>
      

      <div class="col-12 col-md-2 mb-3 mb-md-0 d-flex justify-content-center align-items-center">
        <img src="assets/roberto.jpg" alt="Foto do aluno" class="img-fluid rounded" style="max-width: 80px; height: auto;">
      </div>
      
      
      <div class="col-12 col-md-3 text-md-end mb-3 mb-md-0">
        <p><strong>Nome:</strong> Roberto Elias Nicolau Junior</p>
        <p><strong>MATRICULA:</strong> 22200752</p>
      </div>
      
    </div>
  </div>
  